<!DOCTYPE html>
<html>
  <head>
    <title>Order System</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    '//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    '//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css' %>
    <%= javascript_include_tag '//code.jquery.com/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class='navbar navbar-default' role='navigation'>
      <div class='container-fluid'>
        <ul class='nav navbar-nav'>
          <li class='active'><%= link_to 'Home', root_path  %></li>
          <li><%= link_to 'Place Order', orders_path  %></li>
        </ul>
      </div>
    </nav>
    <div class='main container'>
      
      <h1>Welcome to our order system</h1>
      <p>
      Bacon ipsum dolor sit amet sunt non et, adipisicing pig meatloaf commodo ex proident pancetta ground round nisi shoulder. Capicola swine in venison sunt filet mignon. Cupidatat do in ut incididunt esse drumstick swine culpa exercitation. Swine irure enim, magna elit quis andouille t-bone nulla shank nisi hamburger fugiat consectetur.

                                          Commodo id jowl porchetta leberkas. Chuck ullamco ball tip ad, sausage fatback turkey minim duis irure jerky. Esse in venison nulla laborum, sint boudin prosciutto sunt biltong elit enim porchetta leberkas. Ad drumstick jerky culpa turkey.
      </p>
   </div>
  </body>
</html>
