<!DOCTYPE html>
<html>
  <head>
    <title>Order System</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    '//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    '//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css' %>
    <%= javascript_include_tag '//code.jquery.com/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class='navbar navbar-default' role='navigation'>
      <div class='container-fluid'>
        <ul class='nav navbar-nav'>
          <li><%= link_to 'Home', root_path  %></li>
          <li class='active'><%= link_to 'Place Order', orders_path  %></li>
        </ul>
      </div>
    </nav>
   <div class='main container'>
     <h1>Items Available to purchase</h1>
     <%= form_for(@order) do |f| %>
       <table class='table'>
         <thead>
          <tr>
            <th>Description</th>
            <th style='width: 10%'>Price</th>
            <th style='width: 10%; text-align: center'>Quantity</th>
          </tr>
         </thead>
         <tbody>
         <% @items.each do |item| %>
          <tr>
            <td><%= item.description %></td>
            <td><%= item.price %></td>
            <td><input type='text' name='order[quantity]' class='form-control' style='width: 50%; margin: 0 auto' /></td>
          </tr>
         <% end %>
         </tbody>
         <tfoot>
           <tr>
             <td colspan='3'>
              <button type='submit' class='btn btn-primary' style='float: right;'>Checkout</button>
             </td>
           </tr>
         </tfoot>
       </table>
     <% end %>
   </div>
  </body>
</html>
